include globals.pug

ng-container('*ngIf'='displayContent')
  div.row: div.col.s12
    h4
      i.mdi.mdi-chart-bar
      ='{{ langManager.messages.graph.title }}'
      
  div.row
    +dateInput(
      'start-date',
      'langManager.messages.global.startDate',
      'langManager.messages.global.datePickerConfig',
      'col s12 m6'
    )(
      '[(ngModel)]'='startDate'
    )
    +dateInput(
      'end-date',
      'langManager.messages.global.endDate',
      'langManager.messages.global.datePickerConfig',
      'col s12 m6'
    )(
      '[(ngModel)]'='endDate'
    )

  div.row
    div.col.s12.m6
      +select(
        'zone', 'langManager.messages.graph.zone',
        'langManager.messages.global.selectPlaceholder', 
        'zones', '.name', '',
        'onZoneSelected()'
      )(
        '[(ngModel)]'='selectedZone'
      )
    div.col.s12.m6
      +select(
        'product', 'langManager.messages.graph.product',
        'langManager.messages.global.selectPlaceholder', 
        'selectedZone.products'
      )(
        '[(ngModel)]'='selectedProduct'
      )

  div.row
    div.col.s6.m4
      +button(
        'button',
        'create-graph',
        '{{ langManager.messages.graph.graphButton }}',
        'mdi mdi-chart-bar'
      )(
        '[disabled]'='selectedZone === null || selectedProduct === null'
        '(click)'='onGraphButtonClicked()'
      )
    div.col.s6.m4('*ngIf'='showReportButton != false')
      form(
        method='POST'
        target='_blank'
        action='http://manual.jfdc.tech/source/server/report/reportPDF.php'
        ngNoForm
      )
        input(
          type='hidden'
          name='lang'
          '[ngModel]'='reportForm.lang'
        )
        input(
          type='hidden'
          name='content'
          '[ngModel]'='reportForm.content'
        )
        input(
          type='hidden'
          name='style'
          '[ngModel]'='reportForm.style'
        )
        input(
          type='hidden'
          name='company'
          '[ngModel]'='reportForm.company'
        )
        input(
          type='hidden'
          name='address'
          '[ngModel]'='reportForm.address'
        )
        input(
          type='hidden'
          name='logo'
          '[ngModel]'='reportForm.logo'
        )
        input(
          type='hidden'
          name='orientation'
          '[ngModel]'='reportForm.orientation'
        )
        input(
          type='hidden'
          name='footer'
          '[ngModel]'='reportForm.footer'
        )
        input(
          type='hidden'
          name='supervisor'
          '[ngModel]'='reportForm.supervisor'
        )
        input(
          type='hidden'
          name='signature'
          '[ngModel]'='reportForm.signature'
        )
        +button(
          'submit',
          'report-pdf',
          '{{ langManager.messages.global.reportButton }}',
          'mdi mdi-file-pdf-box'
        )